.classpath
java/bin
java/lib
.project
src/main/resources/build.info
src/main/java/com/basiscomponents/VersionInfo.java
.metadata
.builaunches
.bdtPath
.buildpath
target/
.settings/
/bin/
.idea
src/test/testH2DataBases
